
@{
    ViewData["Title"] = "Compras - Conceito";
}
<p>
    <h3>Aprender a programar é o objetivo e Conceito da construção deste site.</h3>
</p>

<br />
<br />
<a href="/Home/Index">Página Principal</a>