
@{
    ViewData["Title"] = "Compras - Despesa";
}

<h3>Criar Despesa</h3>

<a asp-action="NovaDespesa" asp-controller="Despesas" class="btn-primary">Nova Despesa <i class="glyphicon glyphicon-plus"></i></a>