@model Minhalabcompras.Models.Despesa
@{
    ViewData["Title"] = "Compras - Despesa Confirmada";
}
<h1 class="border-dark">Nova Despesa Criada</h1>
<table class="table bg-secondary">
    <thead>
        <tr>
            <th><strong>Nome:</strong></th>
            <th><strong>Quantidade:</strong></th>
            <th><strong>Valor:</strong></th>
            <th><strong>Categoria:</strong></th>
            <th><strong>Pago:</strong></th>
        </tr>
    </thead>
    <tr>
        <th> @Model.NomeDespesa</th>
        <th>@Model.Quantidade</th>
        <th>@Model.Valor</th>
        <th>@Model.Categoria</th>
        <th>

            @if (Model.Pago == true)
            {
                @:Sim
            }
            else
            {
                @:Não
            }
        </th>
    </tr>
    </table>

<br />
<a href="/Home/Index">Página Principal</a>