
@{
    ViewData["Title"] = "Contas Eliminadas";
}

<h2>Contas Eliminadas</h2>
<br/>

<a asp-action="Conta" asp-controller="ContaBancaria" class="btn-primary">Adicionar Conta <i class="glyphicon glyphicon-plus"></i></a>
