@model Minhalabcompras.Models.Produto
@{
    ViewData["Title"] = "Produtos Eliminados";
}
<h1>Produtos Eliminados</h1>
<br />
<a asp-action="NovoProduto" asp-controller="Produtos" class="alert">Adicionar Novo Produto</a>
