
@{
    ViewData["Title"] = "Produto confirmado";
}
@model Produto


<card class="card">
    <div class="card-body bg-light">
        <h1 class="bg-info">Novo produto criado</h1>
        <p><strong>ID:</strong>@Model.ID</p>
        <p><strong>Nome:</strong>@Model.Nome</p>
        <p><strong>Categoria:</strong>@Model.Categoria</p>
        <p><strong>Preço:</strong>@Model.Preco</p>
        <p>
            <strong>Em Stock:</strong>
            @if (Model.EmStock == true)
            {
                @:Sim
            }
            else
            {
                @:Não
            }
        </p>
    </div>
</card>